*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgcolor:#F7F7E8;
    --normal_color:#C7CFB7;
    --focus_color:#9DAD7F;
    --eye_pinch_color:#557174;
}
/* 
.header{
    display: flex;
} */

.header{
    display: flex;
}
